<div ng-controller="homectrl"         <div class="panel panel-default">
                <div class="panel-heading">Top Rated Activities</a></div>
                    <div class="panel-body">
                        <div class="list-group">
                                <a ng-repeat="activity in activities" class="list-group-item">
                            <div>{{activity.Name}}  &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160  &#160 &#160  Activity Rating:&#160{{activity.avgRating}} &#160 &#160 &#160 &#160 &#160 &#160&#160 &#160 &#160 &#160
                                 Number Of Applicatons:&#160{{activity.numberOfApplicatons}}</div>
                                </a>
        </div>
      </div>
    </div>
        </div>
        </div>
