<div class="page-header" >
<h1>Favorite List<h1>

</div>
<form  ng-submit="user1.fav(register);">
<!--username-->
<label>username</label>
<input class="form-control"type ="text" name="username" placeholder="username" ng-model="user1.register.username"><br>

<!--name-->
<label>name</label>
<input class="form-control"type ="text" name="name" placeholder="name" ng-model="user1.register.name"><br>

<!--location-->
<label>location</label>
<input class="form-control"type ="text" name="location" placeholder="location" ng-model="user1.register.location"><br>

<!--price-->
<label>price</label>
<input class="form-control"type ="number" name="price" placeholder="price" ng-model="user1.register.price"><br>
<!--date-->
<label>date</label>
<input class="form-control"type ="date" name="date" placeholder="date" ng-model="user1.register.date"><br>



<button class="btn btn-primary"type="submit">Save</button>


  </form>