<!DOCTYPE html>
<html lang="en">
<body ng-src="{{image10}}" background="{{image10}}">
<head>
<link rel="stylesheet" type="text/css" href="../../../assets/css/css1.css">
<link rel="stylesheet" type="text/css" href="../../../assets/css/css2.css">
<link rel="stylesheet" type="text/css" href="../../../assets/css/css3.css">
        <script src="../../../assets/js/angular.js"></script>
        <script src="../../../assets/js/angular-route.js"></script>
         <script src="../../../app/app.js"></script>
         <script src="../../../app/routes.js"></script>
        <script src="../../../assets/js/jquery-3.1.1.min.js"></script>
        <script src="../../../assets/js/bootstrap.js"></script>
        <script src="../../../app/controllers/homectrl.js"></script>
  </head>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>OUR TEAM</h2>

<div class="w3-row"><br>
<!-- Helmy -->
<div class="w3-quarter">

  <img ng-src="{{image1}}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Ahmed Helmy</h3>
  <p></p>
</div>
<!-- Yehia -->
<div class="w3-quarter">
  <img ng-src="{{image2}}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Yehia Ahmed</h3>
  <p></p>
</div>
<!-- David -->
<div class="w3-quarter">
  <img ng-src="{{image3}}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>David Shokry</h3>
  <p></p>
</div>
<!-- Omar -->
<div class="w3-quarter">
  <img ng-src="{{image4}}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Omar Sherif</h3>
  <p></p>
</div>
<!-- Emad -->
<div class="w3-quarter">
  <img ng-src="{{image5}}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Ahmed Emad</h3>
  <p></p>
</div>
<!-- Ibrahim -->
<div class="w3-quarter">
  <img ng-src="{{image6}}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Ahmed Ibrahim</h3>
  <p></p>
</div>
<!-- Carol -->
<div class="w3-quarter">
  <img ng-src="{{image7}}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Carol Tarek</h3>
  <p></p>
</div>
<!-- karim -->
<div class="w3-quarter">
  <img ng-src="{{image8}}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Karim William</h3>
  <p></p>
</div>
<!-- Anas -->
<div class="w3-quarter">
  <img ng-src="{{image9}}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Anas Mohamed</h3>
  <p></p>
</div>
</div>
</div>
<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <h3>Address</h3>
      <p>New Cairo, Egy</p>
      <p>01155450034</p>
      <p>teamnamepending@gmail.com</p>
    </div>
  </div>
</div>
</body>

</html>
