<!DOCTYPE html>
<html>
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<div class="page-header"> 
   <h3>Your Subscription companies</h3>
   <table class="table">
        <tr>
            <th>Name</th>
        </tr>

        <tr ng-repeat="sub in sublist">
            <td>{{sub.name}}</td>
        </tr>
        <!-- End: Table -->
    </table>
    <br>
    <div class="row show-hide-message" ng-show="successMsg">
        <div class="alert alert-success">{{successMsg}}</div>
    </div>

    <br>
    <div class="row show-hide-message" ng-show="errorMsg">
        <div class="alert alert-danger">{{errorMsg}}</div>
    </div>
</div>
</div>
</html>