<!-- Header -->
<div class="page-header">
    <h1>Activities</h1>
</div>
<style>
    .selected {
        background-color: lightcoral;
        color: white;
        font-weight: bold;
    }
</style>

<br>
<button type "button" ng-click="showMore(number)" class="btn btn-success ">Apply For Filter</button>
<button type="button " ng-click="showAll() " class="btn btn-warning ">Show All</button>
<div class="showmore ">
    <div class="col-lg-6 ">
        <div class="input-group ">
            <span class="input-group-addon ">Results to display:</span>
            <input type="text " class="form-control " ng-model="number ">
        </div>
    </div>
</div>


<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="showMoreError">
    <div class="alert alert-danger">{{showMoreError }}</div>
</div>

<!-- Activity Management Table -->
<div class="panel panel-primary ">
    <!-- Heading -->
    <div class="panel-heading ">
        <strong>Activity Management</strong>
    </div>

    <!--Search Engine!-->
    <div class="navbar-group ">
        <div class="form-group ">
            <input type="text " class="form-control " name="search " placeholder="search for .. " ng-model="seachKeyword ">
        </div>
        <button type="button " class="btn btn-default ">Search</button>
        <button type="button " class="btn btn-default ">Clear</button>

        <a href="/search ">
            <button type="button " class="btn btn-default ">Advanced Search</button>
        </a>

    </div>
    <!-- Start: Table -->
    <table class="table">
        <tr>
            <th>Name</th>
            <th>desc</th>
            <th>numberOfApplications</th>

        </tr>

        <tr ng-repeat="contact in contactlist | limitTo : limit " ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow(contact._id,$index)">
            <td>{{contact.Name}}</td>
            <td>{{contact.desc}}</td>
            <td>{{contact.numberOfApplicatons}}</td>
            <td>
                <a href=" /edit/{{contact._id}} ">
                    <button ng-show="main.isCompany" type="button " class="btn btn-primary ">Edit</button>
                </a>


                <button ng-show="main.isCompany" type="button " ng-click="deleteActivity($index,contact._id)" class="btn btn-danger ">Delete</button>
                <br>
                <br>
                <!--I don't want to switch'!-->
                <button ng-show="!main.isCompany && !isInArray($index)" ng-click="addToFav(contact._id,contact.companyName,$index)" type="button " class="btn btn-success">Add to fav.</button>

                <input class="form-control" type="text" name="rating" placeholder="please enter a Rating" ng-model="RatingData.rating">
                <button type="button " ng-click="rateActivity(RatingData,contact._id)" class="btn btn-primary ">Rate</button>
        </tr>
        <!-- End: Table -->
    </table>
</div>


<div class="row show-hide-message" ng-show="errorMsg">
    <div class="alert alert-danger">{{errorMsg}}</div>
</div>

<!-- Viewing Activity-->
<div class="panel panel-default" ng-show="show">
    <div class="panel-heading">Details</div>
    <div class="panel-body"></div>
    <dl>
        <dt>Name</dt>
        <dd>{{selectedActivity[0].Name}}</dd>

        <br>

        <dt>StartDate</dt>
        <dd>{{selectedActivity[0].StartDate}}</dd>

        <br>

        <dt>EndDate</dt>
        <dd>{{selectedActivity[0].EndDate}}</dd>
        <br>

        <dt>numberOfApplications</dt>
        <dd>{{selectedActivity[0].numberOfApplicatons}}</dd>
        <br>

        <dt>location</dt>
        <dd>{{selectedActivity[0].location}}</dd>
        <br>

        <dt>Description</dt>
        <dd>{{selectedActivity[0].desc}}</dd>

        <br>

        <dt>avgRating</dt>
        <dd>{{selectedActivity[0].avgRating}}</dd>

        <br>

        <dt>numberOfRatings</dt>
        <dd>{{selectedActivity[0].numberOfRatings}}</dd>

        <br>

        <dt>ratings</dt>
        <dd>{{selectedActivity[0].ratings}}</dd>

    </dl>
</div>